<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"-->

<head>

    <meta charset="utf-8">
    <title>USER Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>

<body>
<!--Заголовок-->
<header>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid me-auto">
                <span class="navbar-brand">
                    Authorised User is
                    <strong th:utext="${foundIdUser.getName()}"></strong>
                     with roles:
                    <span  th:each="role : ${foundIdUser.getRolesName()}">
                        <a th:text="${role}"></a>
                        </span>
                </span>
            <form th:action="@{/logout}" method="POST">
                <button type="submit" class="btn btn-dark">Logout</button>
            </form>
        </div>
    </nav>

</header>

<div class="container-fluid">
    <div class="row">

        <!--Кнопка User слева-->

        <div class="d-flex col-md-3 col-lg-2 d-md-block  sidebar collapse">
            <br>
            <nav id="sidebarMenu" class="col-md-12 col-lg-12 d-md-block  sidebar collapse">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-pills">
                        <a class="nav-link active" data-toggle="tab" href="#user-panel">User</a>
                    </li>
                </ul>
            </nav>
        </div>


        <!--Панель справа-->

        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 15px; height: 100vh">


                <!--Вкладка для юзера-->

                <!--user info panel-->
                <div class="tab-pane fade show active" id="user-panel" role="tabpanel" aria-labelledby="user-panel-tab">
                    <h2 class="my-2 mx-2">User information-page</h2>
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped ">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Role</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${foundIdUser.id}"/>
                                    <td th:text="${foundIdUser.name}"/>
                                    <td th:text="${foundIdUser.firstName}"/>
                                    <td th:text="${foundIdUser.surname}"/>
                                    <td th:text="${foundIdUser.age}"/>
                                    <td><a th:each="role : ${foundIdUser.getRoles()}">
                                        <p th:text="${role.toString()}"></p>
                                    </a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</body>
</html>